{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}  <!-- Load the static files template tag -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">  <!-- Link to your CSS file -->

{% block content %}
<div class="content" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 style="margin-top: 25px; margin-bottom: 25px">Welcome to Online Learning Platform</h1>
    <img src="{% static 'images/udemy.jpg' %}" alt="Background Image" style="width: 100%; margin-top: 35px">
</div>

<h1>{{ category|title }} Course Categories</h1>
<ul>
    {% for course in courses %}
        <li>{{ course.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
