{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}Course List{% endblock %}

{% block content %}
<style>
    /* Custom styles for the course cards */
    .card-img-top {
        height: 200px !important;
        object-fit: scale-down;
    }
    .truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* Adjustments for screens wider than 1440px */
    @media (min-width: 1440px) {
        .container {
            max-width: 100%;
        }

        .col-xl-2 {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    .form-group label {
        font-weight: bold;
    }

    .btn-block {
        margin-top: 10px;
    }

    .my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    /* Ekran genişliği 768px'den küçük olduğunda sidebar'ı gizle */
    @media (max-width: 768px) {
        .col-md-3 .col-md-2{
            display: none;
        }
    }

    /* Toggle button için stil */
    #filter-toggle-btn {
        display: none; /* Başlangıçta toggle butonunu gizle */
    }

    /* Ekran genişliği 768px'den küçük olduğunda toggle butonunu göster */
    @media (max-width: 768px) {
        #filter-toggle-btn {
            display: block;
        }
        
      .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
</style>

<div class="container center-content">
    <h1 class="my-4">Available Courses</h1>

    <div class="center-content mb-3">
      <button class="btn btn-primary d-lg-none" id="filter-toggle-btn" type="button">
        Toggle Filters
      </button>
    </div>
  
    <form method="GET" class="form-row mb-4" id="course-filter-form">
        <div class="form-group col-md-3">
            <label for="category">Category</label>
            {{ form.category|add_class:"form-control" }}
        </div>
        <div class="form-group col-md-3">
            <label for="difficulty_level">Level</label>
            {{ form.difficulty_level|add_class:"form-control" }}
        </div>
        <div class="form-group col-md-2">
            <label for="min_price">Min Price</label>
            {{ form.min_price|add_class:"form-control" }}
        </div>
        <div class="form-group col-md-2">
            <label for="max_price">Max Price</label>
            {{ form.max_price|add_class:"form-control" }}
        </div>
        <div class="form-group col-md-2 align-self-end">
            <button type="submit" class="btn btn-primary btn-block">Apply Filters</button>
            {% if has_filter %}
            <a href="{% url 'course_list' %}" class="btn btn-secondary btn-block">Clear all filters</a>
            {% endif %}
        </div>
    </form>

<!-- Course List -->
<div class="row">
    {% for course in courses %}
        <div class="col-md-4 col-xl-2">
            <div class="card mb-4">
                <a href="{% url 'course_detail' course.id %}">
                    <img class="card-img-top" src="{{ course.image.url }}" alt="{{ course.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title truncate-text">
                        <a href="{% url 'course_detail' course.id %}">{{ course.title }}</a>
                    </h5>
                    {% if course.id in user_enrollments %}
                        <button class="btn btn-secondary mt-2" disabled>Enrolled</button>
                    {% else %}
                        <a href="{% url 'enroll_course' course.id %}" class="btn btn-success mt-2" onclick="showEnrollModal(event)">Enroll</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<!-- Enroll Modal -->
<div class="modal fade" id="enrollModal" tabindex="-1" aria-labelledby="enrollModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enrollModalLabel">Course Enrollment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You have successfully enrolled in the course!
            </div>
            <div class="modal-footer">
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Go to Dashboard</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Browsing</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showEnrollModal(event) {
        event.preventDefault();
        const href = event.target.href;
        
        // Enroll in the course via AJAX
        fetch(href, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }).then(response => {
            if (response.ok) {
                $('#enrollModal').modal('show');
            } else {
                console.error('Enrollment failed');
            }
        }).catch(error => console.error('Error:', error));
    }
    
    document.getElementById('filter-toggle-btn').addEventListener('click', function() {
        const filterForm = document.getElementById('course-filter-form');
        filterForm.classList.toggle('d-none');
    });
</script>

{% endblock %}
