/* static/css/home.css */
.btn-custom {
    background-color: #17a2b8; /* Custom color */
    border-color: #17a2b8; /* Custom border color */
    color: rgb(188, 53, 53); /* Button text color */
    font-size: 1.25rem; /* Increase the font size */
    padding: 10px 20px; /* Adjust padding */
}

.btn-custom:hover {
    background-color: #138496; /* Hover color */
    border-color: #117a8b; /* Hover border color */
}
